*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  :root {
    --white-color: #fff;
    --mainColor: #29335c;
    --secondaryColor: #db2b39;
    --textColor: #eee;
  }
  
  
  .banner {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-attachment: fixed;
  }
  
  
  .banner.content {
    max-width: 450px;
    text-wrap: wrap;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .banner.content h3 {
    text-align: start;
    font-weight: 300px;
    font-size: 2.5em; 
  }
  
  .banner.content button {
    padding: 10px 20px;
    font-size: 1.2rem; 
    font-weight: bold;
    color: var(--mainColor);
    background-color: var(--textColor);
    border: none;
    border-radius: 0.5rem;
  }
  
  .banner.content button:hover {
    background-color: var(--mainColor);
    color: var(--textColor);
  }
  
  @media only screen and (max-width: 1024px) {
    .content h3 {
      font-weight: 700;
      font-size: 1.7em;
      margin-left: 3rem;
  }

  .content{
    padding: 20px;
  }
    
  }
  
  @media only screen and (max-width: 375px) {
  
  }