/* .product-container {
  /* max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif; 
}

.product-heading {
  font-family: Inter;
  font-size: 96px;
  font-weight: 700;
  line-height: 116.18px;
  text-align: center;
  color: #143a62;

}

.product-section {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; 
  margin-bottom: 300px;
  gap: 10%;
  margin-left: 6%;
}

.product-card {
  width: 48%;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product-card-heading {
  color: rgba(20, 58, 98, 1);
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

b {
  color: rgba(27, 101, 200, 1);
}

.product-card-content {
  display: flex;
  align-items: center;
  padding: 20px;
}

.product-card-image {
  max-width: 40%;
  margin-right: 20px;
  border-radius: 4px;
}

.product-card-description {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #0f192b;
  width: 63px;
  height: 117px;
  top: 901px;
  left: 207px;
  gap: 0px;
  opacity: 0px;
}

.product-card-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-start;
}

.video {
  top: 0;
  left: 0;
  width: 50%;
  height: 0%;
}


h2 {
  font-size: 30px;
  margin-left: 30%;
  margin-bottom: 40px;
}

.list-container {
  display: flex;
  justify-content: left;
  margin-top: 20px; /* Adjust this value as needed 
}

.list-container ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.list-container li {
  margin-bottom: 10px; /* Adjust this value as needed 
}

.andriod {
    display: flex;
}



@media (max-width: 480px) {
    .product-container {
        /* max-width: 1500px;
          margin: 0 auto;
          padding: 20px;
          font-family: Arial, sans-serif; 
      }
      
      .product-heading {
        font-family: Inter;
        font-size: 96px;
        font-weight: 700;
        line-height: 116.18px;
        text-align: center;
        color: #143a62;
      
      }
      
      .product-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 300px;
        margin-left: 10%;
      }
      
      .product-card {
        width: 48%;
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      
      .product-card-heading {
        color: rgba(20, 58, 98, 1);
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
      }
      
      b {
        color: rgba(27, 101, 200, 1);
      }
      
      .product-card-content {
        display: flex;
        align-items: center;
        padding: 20px;
      }
      
      .product-card-image {
        max-width: 40%;
        margin-right: 20px;
        border-radius: 4px;
      }
      
      .product-card-description {
        font-family: Inter;
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        color: #0f192b;
        width: 63px;
        height: 117px;
        top: 2901px;
        left: 707px;
        gap: 0px;
        opacity: 0px;
      }
      
      .product-card-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        align-self: flex-start;
      }
      
      .video {
        top: 0;
        left: 0;
        width: 50%;
        height: 0%;
      }
      
      
      h2 {
        font-size: 30px;
        margin-left: 30%;
        margin-bottom: 40px;
      }
      
      .list-container {
        display: flex;
        justify-content: left;
        margin-top: 20px; /* Adjust this value as needed 
      }
      
      .list-container ul {
        list-style-type: none;
        padding: 0;
        text-align: left;
      }
      
      .list-container li {
        margin-bottom: 10px; /* Adjust this value as needed 
      }
      
      .andriod {
          display: flex;
      }
      
}

@media (min-width: 481px) and (max-width: 767px) {
 
    .product-container {
        /* max-width: 1500px;
          margin: 0 auto;
          padding: 20px;
          font-family: Arial, sans-serif; 
      }
      
      .product-heading {
        font-family: Inter;
        font-size: 96px;
        font-weight: 700;
        line-height: 116.18px;
        text-align: center;
        color: #143a62;
      
      }
      
      .product-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 300px;
        margin-left: 10%;
      }
      
      .product-card {
        width: 48%;
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      
      .product-card-heading {
        color: rgba(20, 58, 98, 1);
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
      }
      
      b {
        color: rgba(27, 101, 200, 1);
      }
      
      .product-card-content {
        display: flex;
        align-items: center;
        padding: 20px;
      }
      
      .product-card-image {
        max-width: 40%;
        margin-right: 20px;
        border-radius: 4px;
      }
      
      .product-card-description {
        font-family: Inter;
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        color: #0f192b;
        width: 63px;
        height: 117px;
        top: 2901px;
        left: 707px;
        gap: 0px;
        opacity: 0px;
      }
      
      .product-card-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        align-self: flex-start;
      }
      
      .video {
        top: 0;
        left: 0;
        width: 50%;
        height: 0%;
      }
      
      
      h2 {
        font-size: 30px;
        margin-left: 30%;
        margin-bottom: 40px;
      }
      
      .list-container {
        display: flex;
        justify-content: left;
        margin-top: 20px; /* Adjust this value as needed 
      }
      
      .list-container ul {
        list-style-type: none;
        padding: 0;
        text-align: left;
      }
      
      .list-container li {
        margin-bottom: 10px; /* Adjust this value as needed 
      }
      
      .andriod {
          display: flex;
      }
      
    
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-card-description {
    font-size: 26px;
    font-weight: 700;
    width: 633px;
    height: 117px;
  }

.product-card-description {
    /* font-size: 16px;
      line-height: 1.5;
      color: black;
      font-family: Inter;
  font-size: 32px;
  font-weight: 150;
  /* line-height: 38.73px; 
  text-align: left; 
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    text-align: left;
    color: #0f192b;
    width: 633px;
    height: 117px;
    top: 2901px;
    left: 707px;
    gap: 0px;
    opacity: 0px;
  }
  .list-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust this value as needed */
    /* margin-bottom: 100px; 
  }
  
  .list-container ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .list-container li {
    margin-bottom: 10px; /* Adjust this value as needed 
  }
  .features {
    font-size: 30px;
    text-align: center;
    /* margin-bottom: 130px; 
    margin-top: 180px;
  }
  /* .andriod {
    flex-wrap: wrap;
} 
}

@media (min-width: 992px) and (max-width: 1199px) {
  .product-card-description {
    font-size: 26px;
    font-weight: 700;
    width: 633px;
    height: 117px;
  }
  /* .andriod {
    flex-wrap: wrap;
} 
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .product-card-description {
    font-size: 26px;
    font-weight: 700;
    width: 633px;
    height: 117px;
  }
  .features {
    font-size: 30px;
    text-align: center;
    /* margin-bottom: 130px; 
    margin-top: 370px;
  }
  .product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 300px;
    margin-left: 30%;
  }
}

@media (min-width: 1920px) {
  .product-card-description {
    font-size: 26px;
    font-weight: 700;
    width: 633px;
    height: 117px;
  }
} */



.product-container{
  margin-left: 8%;
  
}
.product-heading{
  color: rgba(20, 58, 98, 1);
  width: 426px;
  height: 116px;
  top: 1123px;
  left: 514px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
font-size: 96px;
font-weight: 700;
line-height: 116.18px;
margin-left: 450px;
}

.product-section {
  display: flex;
}

.product-card-description {
 
font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
margin-left: 10%;
color: rgba(15, 25, 43, 1);
}


.andriod p{
  font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
color: rgba(15, 25, 43, 1);
margin-top: 5%;
margin-left: -60%;

}


b {  
  background-color: white;
color: rgba(27, 101, 200, 1);

}

.product-card-heading {
width: 193px;
height: 44px;
top: 1279px;
left: 298px;
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 43.57px;
color: rgba(20, 58, 98, 1);
margin-left: 250px;

}


.product-card-image2 {
  margin-bottom: 100px;

}

#product-card-heading12 {
  margin-left: 5px;
  margin-bottom: 70px;
}  

 .phoneimage{
  margin-top: -25%;
  margin-left: 20%;
}

.product-card-image {
  width: 700px;
  height: 500px;

}

.product-card-image2 {
  width: 450px;
  height: 800px;
}

@media (max-width: 480px) {
  .product-container{
    margin-left: 2%;
    
  }
  .product-heading{
    color: rgba(20, 58, 98, 1);
    width: 40px;
    height: 116px;
    top: 1123px;
    left: 51px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 116.18px;
  margin-left: 5px;
  }
  
  .product-section {
    /* display: flex; */
    flex-wrap: wrap;
  }
  
  .product-card-description {
   
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 38.73px;
  margin-left: 0%;
  color: rgba(15, 25, 43, 1);
  }
  
  
  .andriod p{
    font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 38.73px;
  color: rgba(15, 25, 43, 1);
  margin-top: 5%;
  margin-left: -15%;
  
  }
  
  
  b {  
    background-color: white;
  color: rgba(27, 101, 200, 1);
  
  }
  
  .product-card-heading {
  width: 193px;
  height: 44px;
  top: 1279px;
  left: 29px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  color: rgba(20, 58, 98, 1);
  margin-left: 3px;
  
  }
  
  
  .product-card-image2 {
    margin-bottom: 10px;
  
  }
  
  #product-card-heading12 {
    margin-left: -1px;
    margin-bottom: 10px;
    margin-top: 40%;
  } 
  
  .phoneimage{
    margin-top: -25%;
    margin-left: 10%;
  }
  .product-card-image {
    width: 300px;
    height: 300px;
  
  }
  
  .product-card-image2 {
    width: 200px;
    height: 400px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
 
.product-container{
  margin-left: 8%;
  
}
.product-heading{
  color: rgba(20, 58, 98, 1);
  width: 426px;
  height: 116px;
  top: 1123px;
  left: 514px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
font-size: 96px;
font-weight: 700;
line-height: 116.18px;
margin-left: 40px;
}

.product-section {
  display: flex;
}

.product-card-description {
 
font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
margin-left: 10%;
color: rgba(15, 25, 43, 1);
}


.andriod p{
  font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
color: rgba(15, 25, 43, 1);
margin-top: 5%;
margin-left: -60%;

}


b {  
  background-color: white;
color: rgba(27, 101, 200, 1);

}

.product-card-heading {
width: 193px;
height: 44px;
top: 1279px;
left: 298px;
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 43.57px;
color: rgba(20, 58, 98, 1);
margin-left: 150px;

}


.product-card-image2 {
  margin-bottom: 100px;

}

#product-card-heading12 {
  margin-left: 5px;
  margin-bottom: 70px;
}  

 .phoneimage{
  margin-top: -5%;
  margin-left: 20%;
}

.product-card-image {
  width: 300px;
  height: 400px;

}

.product-card-image2 {
  width: 350px;
  height: 600px;
}


}

@media (min-width: 768px) and (max-width: 991px) {
 
.product-container{
  margin-left: 8%;
  
}
.product-heading{
  color: rgba(20, 58, 98, 1);
  width: 426px;
  height: 116px;
  top: 1123px;
  left: 514px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
font-size: 96px;
font-weight: 700;
line-height: 116.18px;
margin-left: 120px;
}

.product-section {
  display: flex;
}

.product-card-description {
 
font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
margin-left: 10%;
color: rgba(15, 25, 43, 1);
}


.andriod p{
  font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
color: rgba(15, 25, 43, 1);
margin-top: 5%;
margin-left: -60%;

}


b {  
  background-color: white;
color: rgba(27, 101, 200, 1);

}

.product-card-heading {
width: 193px;
height: 44px;
top: 1279px;
left: 298px;
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 43.57px;
color: rgba(20, 58, 98, 1);
margin-left: 250px;

}


.product-card-image2 {
  margin-bottom: 100px;

}

#product-card-heading12 {
  margin-left: 5px;
  margin-bottom: 70px;
}  

 .phoneimage{
  margin-top: -4%;
  margin-left: 40%;
}

.product-card-image {
  width: 500px;
  height: 400px;

}

.product-card-image2 {
  width: 450px;
  height: 800px;
}

}
@media (min-width: 992px) and (max-width: 1199px) {
 
.product-container{
  margin-left: 8%;
  
}
.product-heading{
  color: rgba(20, 58, 98, 1);
  width: 426px;
  height: 116px;
  top: 1123px;
  left: 514px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
font-size: 96px;
font-weight: 700;
line-height: 116.18px;
margin-left: 250px;
}

.product-section {
  display: flex;
}

.product-card-description {
 
font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
margin-left: 10%;
color: rgba(15, 25, 43, 1);
}


.andriod p{
  font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
color: rgba(15, 25, 43, 1);
margin-top: 5%;
margin-left: -60%;

}


b {  
  background-color: white;
color: rgba(27, 101, 200, 1);

}

.product-card-heading {
width: 193px;
height: 44px;
top: 1279px;
left: 298px;
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 43.57px;
color: rgba(20, 58, 98, 1);
margin-left: 250px;

}


.product-card-image2 {
  margin-bottom: 100px;

}

#product-card-heading12 {
  margin-left: 5px;
  margin-bottom: 70px;
}  

 .phoneimage{
  margin-top: -0%;
  margin-left: 20%;
}

.product-card-image {
  width: 650px;
  height: 500px;

}

.product-card-image2 {
  width: 450px;
  height: 800px;
}

}
@media (min-width: 1200px) and (max-width: 1919px) {
 
.product-container{
  margin-left: 8%;
  
}
.product-heading{
  color: rgba(20, 58, 98, 1);
  width: 426px;
  height: 116px;
  top: 1123px;
  left: 514px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
font-size: 96px;
font-weight: 700;
line-height: 116.18px;
margin-left: 450px;
}

.product-section {
  display: flex;
}

.product-card-description {
 
font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
margin-left: 10%;
color: rgba(15, 25, 43, 1);
}


.andriod p{
  font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
color: rgba(15, 25, 43, 1);
margin-top: 5%;
margin-left: -60%;

}


b {  
  background-color: white;
color: rgba(27, 101, 200, 1);

}

.product-card-heading {
width: 193px;
height: 44px;
top: 1279px;
left: 298px;
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 43.57px;
color: rgba(20, 58, 98, 1);
margin-left: 250px;

}


.product-card-image2 {
  margin-bottom: 100px;

}

#product-card-heading12 {
  margin-left: 540x;
  margin-bottom: 70px;
}  

 .phoneimage{
  margin-top: -35%;
  margin-left: 80%;
}

.product-card-image {
  width: 700px;
  height: 500px;

}

.product-card-image2 {
  width: 450px;
  height: 800px;
}

}
 @media (min-width: 1920px) {
  
.product-container{
  margin-left: 8%;
  
}
.product-heading{
  color: rgba(20, 58, 98, 1);
  width: 426px;
  height: 116px;
  top: 1123px;
  left: 514px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
font-size: 96px;
font-weight: 700;
line-height: 116.18px;
margin-left: 450px;
}

.product-section {
  display: flex;
}

.product-card-description {
 
font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
margin-left: 10%;
color: rgba(15, 25, 43, 1);
}


.andriod p{
  font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 38.73px;
color: rgba(15, 25, 43, 1);
margin-top: 5%;
margin-left: -60%;

}


b {  
  background-color: white;
color: rgba(27, 101, 200, 1);

}

.product-card-heading {
width: 193px;
height: 44px;
top: 1279px;
left: 298px;
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 43.57px;
color: rgba(20, 58, 98, 1);
margin-left: 250px;

}


.product-card-image2 {
  margin-bottom: 100px;

}

#product-card-heading12 {
  margin-left: 5px;
  margin-bottom: 70px;
}  

 .phoneimage{
  margin-top: -25%;
  margin-left: 20%;
}

.product-card-image {
  width: 700px;
  height: 500px;

}

.product-card-image2 {
  width: 450px;
  height: 800px;
}

} 