.ourteam {
    font-family: Inter, sans-serif;
    font-size: 66px;
    text-align: center;
    margin-bottom: 5%;
}
.meetteam {
    font-family: Inter, sans-serif;
    font-size: 32px;
    color: #143A62;
    margin-top: 20px;
    gap: 120px;
    text-align: center;
}
.teamimages {
    width: 260px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.team{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 1%;
    
}

@media screen and (max-width: 1290px) {
    .ourteam {
        font-size: 40px;
    }
    .meetteam {
        font-size: 28px;
    }
    .teamimages {
        width: 200px;
        height: 200px;
    }
    
    .meet {
        gap: 20px;
    }
    .team{
        display:grid;
        grid-template-columns:repeat(5, 1fr);
        
        gap: 1%;
    }

    
   
    .team{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        gap: 1%;
        
    }
}
@media screen and (max-width: 950px) {
    .ourteam {
        font-size: 32px;
    }
    .meetteam {
        font-size: 24px;
    }
    .teamimages {
        width: 180px;
        height: 180px;
    }
    .meet {
        flex-direction: column;
        align-items: center;
    }
    
    .team{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        /* grid-template-rows:repeat(3, 1fr); */
        gap: 1%;
        
    }
}
@media screen and (max-width: 667px) {
    .ourteam {
        font-size: 28px;
    }
    .meetteam {
        font-size: 20px;
    }
    .teamimages {
        width: 150px;
        height: 150px;
    }
    
    .team{
        display:grid;
        grid-template-columns:repeat(1, 1fr);
        
        gap: 1%;
        
    }
}










