.ourteam {
    font-family: Inter, sans-serif;
    font-size: 66px;
   align-items: center;
   text-align: center;
    margin-bottom: 5%;
}
.team {
    font-family: Inter, sans-serif;
    font-size: 32px;
    color: #143A62;
    margin-top: 20px;
    gap: 120px;
    text-align: center;
}
.teamimages {
    width: 260px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 20px;

}

.members{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 1%;
    
}

@media screen and (max-width: 1290px) {
    .ourteam {
        font-size: 40px;
        text-align: center;
        margin-left: 35%;
    }
    .meetteam {
        font-size: 28px;
    }
    .teamimages {
        width: 200px;
        height: 200px;
    }
    
    .meet {
        gap: 20px;
    }
    .team{
       display: block;
    }

    .members{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        justify-content: space-around;
        
    }
   
    .ourteam{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        justify-content: space-around;
        
    }
}
@media screen and (max-width: 950px) {
    .ourteam {
        font-size: 32px;
        text-align: center;
        margin-left: 35%;
    }
    .team {
        font-size: 24px;
        display: block;
    }
    .teamimages {
        width: 180px;
        height: 180px;
    }
    .meet {
        flex-direction: column;
        align-items: center;
    }
    
    .members{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        justify-content: space-around;
        
    }
}
@media screen and (max-width: 667px) {
    .ourteam {
        font-size: 25px;
        text-align: center;
        margin-left: 35%;
    }
    .team {
        font-size: 20px;
        display: block;
    }
    .teamimages {
        width: 150px;
        height: 150px;
    }
    
    .members{
        display:block; 
        text-align: center;
    }
}










